# Database
DATABASE_URL=postgresql://postgres:WNEwS05rS3KKFRYEcktP@host:5432/growth_sender

# JWT
JWT_SECRET=seu_secret_muito_seguro_aqui_troque_em_producao

# Evolution API
EVOLUTION_API_URL=https://api.growthdigitalmkt.com.br
EVOLUTION_API_KEY=2U0m7WQce6l1tGUgcgUO

# Redis
REDIS_URL=redis://localhost:6379

# Server
PORT=3001
NODE_ENV=development

# Frontend URL (para CORS)
FRONTEND_URL=http://localhost:5173
